modules = ["nodejs-23"]
[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[workflows]

[[workflows.workflow]]
name = "Run Bot"
author = 44781321
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
